<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
                <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
{% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/icomoon-social.css')}}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{asset('css/leaflet.css')}}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="{{asset('css/leaflet.ie.css')}}" />
		<![endif]-->
		<link rel="stylesheet" href="{{asset('css/main.css')}}">

        <script src="{{asset('js/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
        <script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')}}"></script>
{% endstylesheets %}
        {% block css %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        
        
        
        
        
    </head>
    <body>
        {% include '::navbar.html.twig' %}
        
        {% block body %}
        
        
        
        
        {% endblock %}
        
        
        
        
        
        {% include '::footer.html.twig' %}
        
        
        {% block javascripts %}
        {% endblock %}
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')}}"></script>
        <script>window.jQuery || document.write('<script src="{{asset('js/jquery-1.9.1.min.js')}}"><\/script>')</script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js')}}"></script>
        <script src="{{asset('js/jquery.fitvids.js')}}"></script>
        <script src="{{asset('js/jquery.sequence-min.js')}}"></script>
        <script src="{{asset('js/jquery.bxslider.js')}}"></script>
        <script src="{{asset('js/main-menu.js')}}"></script>
        <script src="{{asset('js/template.js')}}"></script>
        
         <!-- End Main Wrapper -->         
                                                                <!-- JS Files Start -->         
                                                                <script type="text/javascript" src="{{asset('js/lib-1-9-1.js')}}"></script>
                                                                <!-- lib Js -->         
                                                                <script type="text/javascript" src="{{asset('js/lib-1-7-1.js')}}"></script>
                                                                <!-- lib Js -->         
                                                                <script type="text/javascript" src="{{asset('js/modernizr.js')}}"></script>
                                                                <!-- Modernizr -->         
                                                                <script type="text/javascript" src="{{asset('js/easing.js')}}"></script>
                                                                <!-- Easing js -->         
                                                                <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
                                                                <!-- Bootstrap -->         
                                                                <script type="text/javascript" src="{{asset('js/bxslider.js')}}"></script>
                                                                <!-- BX Slider -->         
                                                                <script type="text/javascript" src="{{asset('js/fitvids.js')}}"></script>
                                                                <!-- fIt Video -->         
                                                                <script type="text/javascript" src="{{asset('js/clearInput.js')}}"></script>
                                                                <!-- Input Clear -->         
                                                                <script type="text/javascript" src="{{asset('js/smooth-scroll.js')}}"></script>
                                                                <!-- smooth Scroll -->         
                                                                <script type="text/javascript" src="{{asset('js/prettyPhoto.js')}}"></script>
                                                                <!-- Pretty Photo -->         
                                                                <script type="text/javascript" src="{{asset('js/social.js')}}"></script>
                                                                <!-- Social Media Hover Effect -->         
                                                                <script type="text/javascript" src="{{asset('js/countdown.js')}}"></script>
                                                                <!-- Event Counter -->         
                                                                <script type="text/javascript" src="{{asset('js/custom.js')}}"></script>


                                                                <!--------------------------------------login ------------------>

                                                                <script type="text/javascript" src="{{asset('js/test/jquery.leanModal.min.js')}}"></script>
                                                                <script type="text/javascript" src="{{asset('js/test/login.js')}}"></script>


                                                                <script src="{{asset('js/jquery-1.11.1.min.js')}}"></script>
                                                                <script src="{{asset('js/jquery-migrate-1.2.1.min.js')}}"></script>
                                                                <script src="{{asset('js/bootstrap.min.js')}}" ></script>
                                                                <script src="{{asset('js/modernizr.min.js')}}"></script>
                                                                <script src="{{asset('js/pace.min.js')}}"></script>
                                                                <script src="{{asset('js/retina.min.js')}}"></script>
                                                                <script src="{{asset('js/jquery.cookies.js')}}"></script>

                                                                <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
                                                                <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
                                                                <script src="//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js"></script>
                                                                <script src="{{asset('js/select2.min.js')}}"></script>

                                                                <script src={{asset('js/custom.js')}}""></script>
                                                            
                                                                <script>
                                                                    jQuery(document).ready(function () {

                                                                        jQuery('#basicTable').DataTable({
                                                                            responsive: true
                                                                        });

                                                                        var shTable = jQuery('#shTable').DataTable({
                                                                            "fnDrawCallback": function (oSettings) {
                                                                                jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
                                                                            },
                                                                            responsive: true
                                                                        });

                                                                        // Show/Hide Columns Dropdown
                                                                        jQuery('#shCol').click(function (event) {
                                                                            event.stopPropagation();
                                                                        });

                                                                        jQuery('#shCol input').on('click', function () {

                                                                            // Get the column API object
                                                                            var column = shTable.column($(this).val());

                                                                            // Toggle the visibility
                                                                            if ($(this).is(':checked'))
                                                                                column.visible(true);
                                                                            else
                                                                                column.visible(false);
                                                                        });

                                                                        var exRowTable = jQuery('#exRowTable').DataTable({
                                                                            responsive: true,
                                                                            "fnDrawCallback": function (oSettings) {
                                                                                jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
                                                                            },
                                                                            "ajax": "ajax/objects.txt",
                                                                            "columns": [
                                                                                {
                                                                                    "class": 'details-control',
                                                                                    "orderable": false,
                                                                                    "data": null,
                                                                                    "defaultContent": ''
                                                                                },
                                                                                {"data": "titre"},
                                                                                {"data": "continue"},
                                                                                {"data": "notification"},
                                                                              
                                                                            ],
                                                                            "order": [[1, 'asc']]
                                                                        });

                                                                        // Add event listener for opening and closing details
                                                                        jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
                                                                            var tr = $(this).closest('tr');
                                                                            var row = exRowTable.row(tr);

                                                                            if (row.child.isShown()) {
                                                                                // This row is already open - close it
                                                                                row.child.hide();
                                                                                tr.removeClass('shown');
                                                                            }
                                                                            else {
                                                                                // Open this row
                                                                                row.child(format(row.data())).show();
                                                                                tr.addClass('shown');
                                                                            }
                                                                        });


                                                                        // DataTables Length to Select2
                                                                        jQuery('div.dataTables_length select').removeClass('form-control input-sm');
                                                                        jQuery('div.dataTables_length select').css({width: '60px'});
                                                                        jQuery('div.dataTables_length select').select2({
                                                                            minimumResultsForSearch: -1
                                                                        });

                                                                    });

                                                                    function format(d) {
                                                                        // `d` is the original data object for the row
                                                                        return '<table class="table table-bordered nomargin">' +
                                                                                '<tr>' +
                                                                                '<td>Full name:</td>' +
                                                                                '<td>' + d.name + '</td>' +
                                                                                '</tr>' +
                                                                                '<tr>' +
                                                                                '<td>Extension number:</td>' +
                                                                                '<td>' + d.extn + '</td>' +
                                                                                '</tr>' +
                                                                                '<tr>' +
                                                                                '<td>Extra info:</td>' +
                                                                                '<td>And any further details here (images etc)...</td>' +
                                                                                '</tr>' +
                                                                                '</table>';
                                                                    }
                                                                </script>

                                                               


        
    </body>
</html>
