{% extends "::base.html.twig" %}
{% block body %}
    {% block css %}
        <link rel="stylesheet" href="{{asset('css/test/test.css')}}">
    {% endblock %}


    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{asset('css/test/avatar.png')}}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ user.username }}
                        </div>
                        <div class="profile-usertitle-job">
                            Developer
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Overview </a>
                            </li>
                            <li>
                                <a href="{{path('fos_user_profile_edit')}}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    parametre du compte  </a>
                            </li>
                            <li>
                                <a href="{{path('mesprojet')}}">
                                    <i class="glyphicon glyphicon-ok"  ></i>
                                    mes projett </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="glyphicon glyphicon glyphicon-envelope"  ></i>
                                    mes message </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="glyphicon glyphicon glyphicon-envelope"  ></i>
                                    composer message </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Help </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>

            <div class="col-md-9">
                <div class="profile-content">


    <h1>Message creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
</ul>


                </div>
            </div>
        </div>

        <br>
        <br>
    {% endblock %}
