{% extends '::base.html.twig' %}

{% block body -%}
    <center>
    <h1>Reclamation creation</h1>

    <h1> {{ form(form) }}</h1>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reclamation') }}">
            Back to the list
        </a>
    </li>
</ul>
        </center>
{% endblock %}
