{% extends '::base.html.twig' %}

{% block body -%}
    
    	<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1> Listes Commentaires </h1>
					</div>
				</div>
			</div>
		</div>
    
    
    
    
<div class="container">
 
  <a href="{{ path('comment_new') }}">
                Create a new entry
            </a>
  
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th> ID </th>
        <th>Score</th>
        <th>commentaire</th>
        <th>Actions</th>
     
      </tr>
    </thead>
    <tbody>
         {% for entity in entities %}
      <tr>
        <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
      <td>  {{ entity.score }}</td>
      <td>  {{ entity.body }}</td>
      
        <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">show</a></td>
        <td> <a href="{{ path('comment_edit', { 'id': entity.id }) }}">edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    
    
    
    
    
    
    
    
    
    
    
    {% endblock %}
