

{% extends "::base.html.twig" %}
{% block css %}


{% endblock%}



{% block body %}
    <!-- End Product Image & Available 
    <h1>Projet</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idprojet</th>
                <td>{{ entity.idProjet }}</td>
            </tr>
            <tr>
                <th>Nomprojet</th>
                <td>{{ entity.nomProjet }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ entity.resume }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Budjet</th>
                <td>{{ entity.budjet }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ entity.fichier }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projet_edit', { 'id': entity.idProjet }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
    Colors -->
    
    
    
    
    
    
    
    <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ entity.nomProjet }}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="{{asset('images/image/')}}{{entity.imageFile }}" alt="Item Name">
	    				</div>
	    				<div class="colors">
							<span class="color-white"></span>
							<span class="color-black"></span>
							<span class="color-blue"></span>
							<span class="color-orange"></span>
							<span class="color-green"></span>
						</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				<h4>{{ entity.nomProjet }}</h4>
	    				<div class="price">
							<span class="price-was"></span> {{ entity.budjet }} D
						</div>
						<h5>Bref description</h5>
	    				<p>{{ entity.resume }}</p>
						<table class="shop-item-selections">
							
							
							<tr>
								<td> ça vous plais </td>
                                                                        
							         <td>      <a href="{{ path('projet_edit', { 'id': entity.idProjet }) }}">  Edit </a></td>
                                                                       <td>       {{ form(delete_form) }}    </td>     
								
							</tr>
                                                        <tr>
                                                        <td> 	<a href="#" class="btn btn"><i class="icon-shopping-cart icon-white"></i> Aider nous a demarer </a></td>
                                                            </tr>
                                                             <tr>
                                                            <td>  <a href="{{ path('projet') }}">Back to the list </a></td>
</tr>
						</table>
	    			</div>
	    			<!-- End Product Summary & Options -->
	    			<!-- Full Description & Specification -->
	    			<div class="col-sm-12">
	    				<div class="tabbable">
	    					<!-- Tabs -->
							<ul class="nav nav-tabs product-details-nav">
								<li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
								<li><a href="#tab2" data-toggle="tab"> Commenter </a></li>
							</ul>
							<!-- Tab Content (Full Description) -->
							<div class="tab-content product-detail-info">
								<div class="tab-pane active" id="tab1">
									<h4>Description du projet</h4>
									<p>{{ entity.resume }}</p>
									
								</div>
								<!-- Tab Content (Specification) -->
								<div class="tab-pane" id="tab2">
									<table>
											    			 {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}

                                                                                                                   
									</table>
								</div>
                                                                
                                                                
                                                                    
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
							</div>
						</div>
	    			</div>
	    			<!-- End Full Description & Specification -->
	    		</div>
			</div>
		</div>
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>



{% endblock %}
